*.iml
.gradle
.kotlin
local.properties
keystore.properties
*.jks
*.keystore
*.aab
*.apk
*.apks
*.idsig
google-services.json
.env
.env.*
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
app/src/main/res/values/secrets.xml

# SQLite database files
*.db
*.db-shm
*.db-wal
